<% if notice %>
  <div data-alert class="alert-box success round" ><%= notice %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<h1><%= t('.title_html') %></h1>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
    <% cache ['entry', product] do %>
      <div class="entry">
        <%= link_to image_tag(product.image_url), line_items_path(product_id: product), method: :post %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to t('.add_html'), line_items_path(product_id: product), class: "button tiny", remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<% if @count > 5 %>
  <h5><%= pluralize(@count, 'visit') %> to the catalog page</h5>
<% end %>