<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

  <title>Online Book Store <%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/modernizr", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to t('.home'), store_path %></li>
          <% if session[:user_id] %>
            <li><%= link_to t('.orders_html'),   orders_path   %></li>
            <li><%= link_to t('.products'), products_path %></li>
            <li><%= link_to t('.users'),    users_path    %></li>
          <% end %>
      </ul>
      <ul class="right locale">
        <li class="has-form">
          <% if session[:user_id] %>
            <%= button_to 'Logout', logout_path, method: :delete, class: "button" %>
          <% else %>
            <%= button_to 'Log In', login_path, class: "button" %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li class="locale">
          <%= form_tag store_path do %>
            <%= select_tag 'set_locale', 
              options_for_select(LANGUAGES, I18n.locale.to_s),
              onchange: 'this.form.submit()' %>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
        </section>

        <section class="right tab-bar-section">
          <h1 class="title"><i class="fi-arrow-left large"></i> <%= t('.your_cart') %></h1>
        </section>

      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label><%= t('.line_items_html') %></label></li>
          <div id="cart">
          <% if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?) do %>
              <%= render @cart %>
            <% end %>
          <% end %>
          </div>
        </ul>
      </aside>

      <section class="main-section main_content">
        <%= yield %>
      </section>

    <a class="exit-off-canvas"></a>

    </div>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
